body{
    color: blue;
    height: 100vh;
    width: 100vw;
}

#wrapper{
    width:100%;
    height: 25%;
}

#wrapper > img{
    width:100%;
    height: 100%;
    object-fit: fill
}
.content{
    height: auto;
}

/* html{
    background: url("https://www.tripsavvy.com/thmb/qeJZ2GNovDJ_xj1bEjsO7VAYfJk=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Waitomo-b982230b249a4eaf84a8e9cb07347591.jpg") no-repeat center fixed;
    background-size: cover;
} */
