body{
    background-image: url("https://www.tripsavvy.com/thmb/qeJZ2GNovDJ_xj1bEjsO7VAYfJk=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Waitomo-b982230b249a4eaf84a8e9cb07347591.jpg");
    background-size: cover;
    background-position-y: center;
}


} 

div {

    height: 100vh;
    width: 100vw;  
}

h1{
    color: rgba(245, 245, 245, 0.633);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    font-family: fantasy;
    font-size: xxx-large;

}
h2{
    font-family: cursive;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: xxx-large;
    color: rgb(12, 173, 232);


}
#user_input {
    font-size: xx-large;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#label {
    font-family: cursive;
    font-size: xx-large;
    color: white;
}

